
.container {
    display: flex;
    flex-direction: column;
    
}

img{
    width: 100%;
    margin: 1% 30%;
  
}

 h1{
     text-align: center;
    font-size: 29px;
    font-weight: bold;
    color: black;
   padding: 20px 0;
    border-bottom: 2px solid #dde0e7;
    width: 30%;
    margin-left: 1.5%;
    margin-bottom: 0%;
    text-decoration: none;
    font-family: Aclonica;
}

@media only screen and (min-width: 612px ) {

    .container{
        justify-content: flex-start;
        flex-flow: column wrap;

    }
    img {
        width: 50%;
    }
}
